<div class="container bg-white shadow-sm">
     <div class="nav-scroller py-1 mb-2 mt-4 text-end" style="height: 100px;">
          <nav class="navbar navbar-expand-lg nav text-center justify-content-end">
               <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                         <img id="imagebrandheader" src="/public/assets/brand/logo.png" alt="" style="height: 80px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                   <a class="nav-link  " aria-current="page" href="/">Beranda</a>
                              </li>
                              
                         </ul>
                    </div>
               </div>
          </nav>
     </div>
</div>