<div class="p-4 mb-3 bg-light shadow-sm rounded">
    <h4 class="fst-italic mb-3"><a class="style-1" target="_blank" href="/Pendaftaran"><b>Info Pendaftaran</b></a></h4>
    <p style="text-align:justify"><%= rightSideData.pendaftaran.replace(/&#39;/g, "'")  %> </p>
    <!-- <p class="my-1"><strong>MTsS Ulumul Qur'an Pagar Air Banda Aceh</strong> 
        Telah dibuka pendaftaran santri baru MTsS MUQ Pagar Air Dengan jenjang Dayah dan SMK, Penerimaan dimulai pada 20 Rajab hingga 20 Sya;ban 1442 H.</p> -->
    <!-- <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p> -->
</div>